:root {
  --darker-green: #052c2b;
  --dark-green: #14555b;
  --light-green: #3a7875;
  --lighter-green: #a4f5d8;
  --gold: #fdde94;
}

header, h1 {
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.flexing-search {
  background-color:#3a7875;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content:center;
  margin: 0px 18px;
  align-items: center;
}

.inputButton {
  height: 27px;
  color: #AE914B;
  background-color: #052c2b;
  box-sizing: border-box;
  border-color: white;
  border-radius: 5px;
}

.search {
  justify-content: space-around;
  align-items:center;
  background-color: #AE914B;
  width: 220px;
  height: 25px;
  border-radius: 5px;
}

.header-img {
  width: 100px;
  margin: 0px 18px;
}

body {
  background-color: var(--darker-green);
  color: var(--lighter-green);
}


h2 {
  color:  var(--gold);
  font-weight: 700;
  text-align: center;
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

p, li {
  margin: 0;
}

.champion-screener {
  display: flex;
}

.champion-type p {
  transform-origin: 100 0;
  transform: rotate(270deg);
}

.spells {
  display: flex;
  flex-wrap: wrap;
}

.spell-box {
  padding: 0.1em;
  line-height: 0;
  box-shadow: inset 50px 20px 20px #0000008c;
  border-radius: 5px;
  padding: 1.2px;
}

.spell-box img {
background-color: #fff;
border: 2px solid black;

}
.selected {
 box-shadow: 0 20px 35px rgba(0,0,0,0,3);
 position: relative;
  overflow:hidden; 
  box-shadow: none;
  border-style: none;
  padding: 5px;
}


.selected::before{
  content: '';
  background-image: conic-gradient( #faee4e 20deg,
  transparent 120deg);
  height: 150%;
  width: 150%;
  position: absolute;
  left: -25%;
  top:-25%;
  animation: rotate 2s infinite linear;
  /* box-shadow: inset 20px 20px 20px #0000008c;  */
  z-index: -1;
}
@keyframes rotate {
  100%{
    transform: rotate(-360deg);
  }
}

.selected::after{
  height: 97%;
  width: 97%;
  position: absolute;
  border-radius: 5px;
  top: 3%;
  left:3%;
  display: flex;
  align-content: center;
  box-sizing: border-box;
}

.champion-image {
  object-fit: contain;
}

#left-section {
  max-width: 33%;
  padding: 10px;
}

#right-section {
  max-width: 33%;
  padding: 10px;
}

#mid-section {
  max-width: 33%;
  padding: 3%;
}

.spells {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  align-items: center;
  justify-content: space-evenly;
 
}

.spell-box  img{
  width: 50px;
  object-fit: fill;
}


.versus-text li:not(:last-child), .user-text li:not(:last-child) {
  margin-bottom: 1em
}
.versus-text ol, .user-text ol {
  list-style-type: none;
  padding: 0.5em;
  text-align: center;
  background-color: var(--light-green);
  border-radius: 5px;
  box-shadow: 3px 3px 9px 3px var(--dark-green);
}

.lore, .spell-description {
  text-align: center;
  padding: 0.5em;
  background-color: var(--light-green);
  border-radius: 5px;
  box-shadow: 3px 3px 9px 3px var(--dark-green);
}


@media (max-width: 600px){
  
   body {
     background-image: url("./Arquivos auxiliares/hecarim Mock/Hecarim_Art.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     
   }

   p, li {
    margin: 0;
    text-align: justify;
  }

   .champion-image {
    display: none;
  }

  .champion-screener{
    flex-direction: column-reverse;
    align-items: center;
  }



  #left-section {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    order: 2;

  }
    
  .hidden{
    display: none;
  }
 
  #right-section {
    max-width: 85%;
    display: flex;
    flex-direction: column;
  }

  .versus-helpers {
    order: -1;
  }
  
}
